In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
def get_first_cabin(row):
    try:
        return row.split()[0]
    except:
        return np.nan

In [3]:
data = pd.read_csv('https://www.openml.org/data/get_csv/16826755/phpMYEkMl')
data = data.replace('?', np.nan)
data['cabin'] = data['cabin'].apply(get_first_cabin)
data.to_csv('datas/titanic.csv', index=False)

In [1]:
import random

In [2]:
# Load data.
data = pd.read_csv('datas/crx.data', header=None)
varnames = ['A'+str(s) for s in range(1,17)]

# Add column names.
data.columns = varnames

# Replace ? by np.nan.
data = data.replace('?', np.nan)

# Re-cast some variables to the correct types.
data['A2'] = data['A2'].astype('float')
data['A14'] = data['A14'].astype('float')

# Replace target values by numbers.
data['A16'] = data['A16'].map({'+':1, '-':0})

data.head()

NameError: name 'pd' is not defined